@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  /* shadcn */
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  /* --destructive: oklch(0.577 0.245 27.325); */
  --destructive: oklch(0.97 0 0);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* custom */
  --black-10: #ffffff;
  --black-15: #4f4f4f;
  --black-20: #dfe3e6;
  --black-30: #cfd4da;
  --black-40: #9d9e9f;
  --black-50: #6c6e71;
  --black-60: #46474a;
  --black-70: #323234;
  --black-80: #202021;

  /* height */
  --appbar-height: 42px;
  --appbar-height-lg: 58px;

  --surface-50: #121212;
  --surface-40: #171717;
  --surface-30: #1d1d1d;
  --surface-20: #292929;
  --surface-15: #4f4f4f;
  --surface-10: #8d8d8d;

  --natural-50: #161616;
  --natural-40: #e2e5e8;
  --natural-30: #e8ebee;
  --natural-20: #f2f4f7;
  --natural-10: #ffffff;

  /* --primary-70: #032415;
  --primary-60: #178d57;
  --primary-50: #24c37a;
  --primary-40: #2bf096;
  --primary-30: #72f5b9;
  --primary-20: #b4f9da;
  --primary-10: #f7fefb; */

  --primary-100: #17171b;
  --primary-90: #303234;
  --primary-80: #4b4d4f;
  --primary-70: #626466;
  --primary-60: #76787a;
  --primary-50: #9ea0a2;
  --primary-40: #c6c8ca;
  --primary-30: #dbdddf;
  --primary-20: #e4e6e8;
  --primary-10: #eef0f2;
  --primary-5: #f5f5f5;
  --primary-0: #ffffff;

  --accent-60: #1d2433;
  --accent-50: #ffffff;
  --accent-40: #2bf096;
  --accent-30: #ffad0d;
  --accent-20: #4dff33;
  --accent-10: #7050ff;

  --danger: #f5222d;
  --warning: #ffad0d;
  --success: #47b881;
  --info: #3b82f6;

  --normal: #ff9900;
  --solver: #993399;
  --tool: #63aec9;

  /* gacha custom */

  --dark-100: 17171B;
  --dark-60: rgba(23, 23, 27, 0.6);
  --dark-40: rgba(23, 23, 27, 0.4);
  --dark-20: rgba(23, 23, 27, 0.2);

  /* height */
  --appbar-height: 42px;
  --appbar-height-lg: 58px;
}

@theme {
  /* custom */
  --color-black-10: var(--black-10);
  --color-black-15: var(--black-15);
  --color-black-20: var(--black-20);
  --color-black-30: var(--black-30);
  --color-black-40: var(--black-40);
  --color-black-50: var(--black-50);
  --color-black-60: var(--black-60);
  --color-black-70: var(--black-70);
  --color-black-80: var(--black-80);
  --color-surface-50: var(--surface-50);
  --color-surface-40: var(--surface-40);
  --color-surface-30: var(--surface-30);
  --color-surface-20: var(--surface-20);
  --color-surface-15: var(--surface-15);
  --color-surface-10: var(--surface-10);
  --color-natural-50: var(--natural-50);
  --color-natural-40: var(--natural-40);
  --color-natural-30: var(--natural-30);
  --color-natural-20: var(--natural-20);
  --color-natural-10: var(--natural-10);
  --color-primary-10: var(--primary-10);
  --color-primary-20: var(--primary-20);
  --color-primary-30: var(--primary-30);
  --color-primary-40: var(--primary-40);
  --color-primary-50: var(--primary-50);
  --color-primary-60: var(--primary-60);
  --color-primary-70: var(--primary-70);
  --color-natural-50: var(--natural-50);
  --color-natural-40: var(--natural-40);
  --color-natural-30: var(--natural-30);
  --color-natural-20: var(--natural-20);
  --color-natural-10: var(--natural-10);
  --color-accent-10: var(--accent-10);
  --color-accent-20: var(--accent-20);
  --color-accent-30: var(--accent-30);
  --color-accent-40: var(--accent-40);
  --color-accent-50: var(--accent-50);
  --color-accent-60: var(--accent-60);
  --color-dark-100: var(--dark-100);
  --color-dark-60: var(--dark-60);
  --color-dark-40: var(--dark-40);
  --color-dark-20: var(--dark-20);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-success: var(--success);
  --color-info: var(--info);
  --color-normal: var(--normal);
  --color-solver: var(--solver);
  --color-tool: var(--tool);
}

@theme inline {
  /* shadcn */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    /* 사파리에서 scrollbar-color가 적용되지 않아 스크롤을 안보이도록 처리 */
    scrollbar-width: none;
    scrollbar-color: #292929 transparent;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  box-sizing: border-box;
}

body {
  background: var(--secondary);
  color: var(--foreground);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
  margin-top: 60px;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
}

#contentCarousel .swiper,
#drawerCarousel .swiper {
  padding-left: calc(var(--spacing) * 8);
  padding-right: calc(var(--spacing) * 8);
  overflow: visible;
}

#contentCarousel .swiper {
  max-height: 275px;
}

@media (width >= 680px) {
  #contentCarousel .swiper {
    max-height: 396px;
    margin-top: 16px;
  }
}

@media (width >= 1024px) {
  #contentCarousel .swiper {
    max-height: 582px;
  }
}

@media (width >= 1280px) {
  #contentCarousel .swiper {
    max-height: 582px;
  }
}

#drawerCarousel .swiper {
  width: 100%;
  aspect-ratio: 3 / 2;
}

#contentCarousel .swiper-pagination,
#drawerCarousel .swiper-pagination {
  bottom: unset;
  top: calc(100% + 0.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 8px;
}

#contentCarousel .swiper-pagination-bullet,
#drawerCarousel .swiper-pagination-bullet {
  margin: 0;
  padding: 0;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 0.25rem;
  opacity: 1;
  background: var(--black-40);
}

#contentCarousel .swiper-pagination-bullet-active {
  background: #ffffff;
}

#drawerCarousel .swiper-pagination-bullet-active {
  background: var(--primary-40);
}

#contentCarousel .swiper-pagination-bullet-active,
#drawerCarousel .swiper-pagination-bullet-active {
  width: 1rem;
}

@media (width >= 64rem) {
  #contentCarousel .swiper {
    height: 100%;
    padding: 0;
    overflow: hidden;
  }

  #contentCarousel .swiper-pagination {
    display: none;
  }

  #drawerCarousel .swiper {
    padding: 0;
  }

  #drawerCarousel .swiper-pagination {
    top: calc(100% + calc(var(--spacing) * 4));
  }
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .sub-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .sub-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .sub-scrollbar::-webkit-scrollbar-thumb {
    -webkit-appearance: none;
    background: var(--black-15, #4f4f4f);
    border-radius: 99px;
  }

  .sub-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--black-15, #4f4f4f) transparent;
  }

  .header-height-margin {
    margin-top: var(--appbar-height-lg);
  }
  .bottom-height-margin {
    margin-bottom: var(--appbar-height-lg);
  }
}
